@charset "utf-8";
/* 로봇 PJ CSS - robot.css */

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Open+Sans&family=Orbitron:wght@500&family=Roboto:wght@300&display=swap');

/* 공사중표시
body * {
    outline: 2px dashed lime;

} */

/* 초기화 */
html,body,h1,h2,h3,ul,ol {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    /* 내부 아이디 요소로 스크롤 위치 이동시 스크롤 애니메이션 처리가 되도록 설정하는 속성. html에 셋팅하면 전체 페이지 스크롤에 적용됨! (JS사용없이 하는 방법 */
}

/* 전체 배경 */
body {
    /* 스크롤확인용 */
    /* height: 3000px; */
    /* 배경: 색이반고윙/크 */
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 공통class */
/* 메탈소재 1 배경 */
.mt1 {
    background: url(../images/metal01.jpg) no-repeat center/cover;
}

/* 메탈소재 2 배경 */
.mt2 {
    background: url(../images/metal02.jpg) no-repeat center/cover;
}

/* 빛이나는 로봇 */
.brRo, .brRo::after, .brRo::before{
    /* 박스 그림자 : x y blur spread 색 */
    box-shadow: 0 0 10px 5px cyan;
    /* 박스 그림자를 밝은색으로 주면 빛나느 효과를 줄 수 있음 */
}

/* font-family: 'Black Ops One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif; */

/***** 1. 상단영역 *****/
/* 1-1. 로고 */
.logo{
    position: fixed;
    top: 50px;
    left: 50px;

    width: 200px;
    height: 200px;
    color: aquamarine;
    font: 45px/200px 'Orbitron';
    border: 2px solid #ccc;
    border-radius: 50%;
    text-align: center;
    text-shadow: 2px 2px 5px #000;

    /* 박스 그림자 
    -내부 그림자(inset) + 외부그림자(글로우효과)
    */
    box-shadow: inset 0 0 20px 5px darkorchid, 0 0 20px 5px blueviolet;

    /* 배경풀셋팅: 색이반고윙/크 */
    background: pink url(../images/robot_03.png) no-repeat center 10px/140px;
}

/* 1-2. 내용링크 */
.link{
    position: absolute;
    top: 100px;
    right: 50px;
    /* 부모는? 보이는 화면 window */
}

.link a{
    /* a요소에서 글자색, 밑줄처리함! */
    color: lightseagreen;
    text-decoration: none;
    font: 50px 'Open Sans';
    text-shadow: 2px 2px 4px black;
}

.link a:hover{
    color: lightcoral;
    text-decoration: overline underline darkblue;
}

/* 1-3.위로가기 버튼 */
.btnTop{
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 100px;
    height: 100px;
   
    
    /* button 요소는 기본 디자인에 글자중앙정렬, 세로중앙도 적용됨! */
    background-color: #ccc;
    border-radius: 50%;
    border: 5px outset #fff;
}

.btnTop a{
    /* 크기 디자인 위해 블록화! */
    display: block;

    /* 크기를 버튼박스에 맞춤! */
    width: 100%;
    height: 100%;

    color: darkblue;
    font: 35px/90px 'Open Sans';
    /* 
        line-height가 높이값인 100px이 아니고 90px인 이유는?
        버튼요소가 기본적으로 box-sizing:boder-box임 이것은 패딩과 보더가 내부에 포함됨
        보더크기가 5px이므로 높이값 100px안에 5px + 5px = 10px이 포함되어서 10px을 뺀 90px로 설정함
    */
    text-decoration: none;
    text-shadow: 2px 2px 2px #000;
}

.btnTop:hover{
    background-color: #ff0;
    border-style: inset;
}

.btnTop a:hover{
    color: darkred;
}
   
/* 2-1. 로봇박스 */
.robx {
    /*padding: 위, 아래 */
    padding: 200px 0 400px;
}

/* 2-1-1. 로봇머리 */
.head {
    position: relative;
    /* 부모자격!!! */

    width: 250px;
    height: 250px;
    margin: 0 auto;
    /* 둥근모서리 : 왼위 오른위 오른아래 왼아래(시계방향) */
    border-radius: 50px 50px 25px 25px;
}

/* 눈 공통 */
.eye {
    /* 포지션 : 앱솔루트 */
    position: absolute;
    width: 50px;
    height: 50px;

    /* 배경공통 */

    /* 배경색 */
    background-color: white;
    /* 배경반복 : 반복안함 */
    background-repeat: no-repeat;
    /* 배경위치 : 중앙 */
    background-position: center;
    /* 배경크기 : 채움 */
    background-size: 100% 100%;
    /* 둥근모서리: 50% 원 */
    border-radius: 50%;
    /* 보더 이중선 */
    border: 4px double black;
}

/* 왼눈 */
.e1 {
    background-image: url(../images/e1.jpg);
    top: 50px;
    left: 50px;
}

/* 오른눈 */
.e2 {
    background-image: url(../images/e2.jpg);
    top: 50px;
    right: 50px;
}

/* 코 */
.nose {
    position: absolute;
    top: 107px;
    left: 99px;
    width: 50px;
    height: 70px;
    background: url(../images/nose.jpg) no-repeat 0/110% 100%;
    /* 둥근 모서리 */
    border-radius: 30px;
}

/* 입 */
.mouth {
    position: absolute;
    left: 70px;
    bottom: 17px;
    width: 96px;
    height: 41px;
    background: url(../images/mouth.png) no-repeat 0/100% 100%;
}

/* 귀 공통 */
.ear {
    position: absolute;
    top: 41px;
    width: 60px;
    height: 182px;
}

/* 왼 귀 */
.er1 {
    left: -60px;
    border-radius: 30px 0 0 30px;
}

/* 오른 귀 */
.er2 {
    right: -60px;
    border-radius: 0 30px 30px 0;
}

/********2-1-2. 로봇몸통********/
.body {
    position: relative;
    /* 부모자격 - 자식요소 앱솔루트*/
    width: 250px;
    height: 310px;
    margin: 0 auto;
    /* 마진상단  */
    margin-top: 50px;
    /* 보더 하단 */
    border-bottom: 20px solid #000;
}
/* 가상요소로 몸박스 하단처리 */
.body::after{
    content: '';
    position: absolute;
    display: block;
    bottom: -28px;
    left: -2%;
    width: 104%;
    height: 104px;
    /* 선형 그라데이션 */
    background-image: linear-gradient(gray, lightskyblue, darkgray);
}

/* 목 */
.neck {
    position: absolute;
    top: -50px;
    left: 90px;
    width: 60px;
    height: 50px;
}

/* 팔 공통 */
.arm {
    position: absolute;
    width: 50px;
    height: 250px;
    /* 배경셋팅 변경 */
    background-size: 100%;
    background-repeat: repeat-y;
}

/* 가상요소로 손만들기 */
.arm::before {
    content: '';
    /* 블록요소 느낌! */
    display: block;
    position: absolute;
    bottom: -25px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    /* 선형 그라데이션 */
    background-image:
        /*linear-gradient(red, blue);  */
        /* linear-gradient(to right, red, blue); */
        /* linear-gradient(to right, red 5%, blue 10%, blue 80%, yellow 5%); */
        /* linear-gradient(45deg, red, blue, yellow); */
        /* 원형 그라데이션 */
        /* radial-gradient(red, blue, yellow); */
        /* radial-gradient(circle, red, blue, yellow); */
        radial-gradient(farthest-side at 25px 25px, white,#333);
}

/* 왼쪽가상요소 위치 */
.arm.a1::before{
    left: -10px;
}

/* 오른쪽가상요소 위치 */
.arm.a2::before{
    right: -10px;
}

/* 
    [ 배경이미지에 있다! 뭐가?그라데이션이!! ]
    background=image : 선형/원형 그라데이션 설정;

    1. 선형 그라데이션
    linear-gradient(방향/각도, 색1 비율%, 색2 비율%,...)
    1) 방향값 : to top / to bottom / to left / to right
    2) 각도값 : 숫자deg -> deg는 degree에서 나온 말!
    -> 방향 또는 각도를 사용, 안쓰면 to bottom이 기본값
    -> 색상을 쓰고 뒤에 필요한 경우 비율을 사용
    -> 색상 뒤에 비율을 안쓰면 등분할 됨.

    2. 원형 그라데이션
    radial-gradient(옵션, 색1 비율%, 색2 비율%,...)
    1) 옵션: circle - 원형, 안쓰면 박스크기에 맞춤
    2) 세밀한 옵션: 특정위치를 중심으로 빛반사효과
        ->>세부옵션 at 가로위치 세로위치
        ->> 세부옵션 종류 4가지:
            (1) closest-side  (2) farthest-side
            (3) closest-corner  (4) fathest-corner
        예) background-image:
            readial-gradient(closeet-side at 30px 15px, white, blue)
            -> 가로, 세로 위치는 px / % 단위사용가능

    -> 색상을 쓰고 뒤에 필요한 경우 비율을 사용
    -> 색상 뒤에 비율을 안쓰면 등분할 됨.
*/

/* 가상요소로 손그림자 주기 */
.arm::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -25px;
    width: 20px;
    height: 40px;
    background-color: #000;
    border-radius: 10px;
    /* 클리핑 기법을 사용하여 그림자를 사용하여 삼각형으로 만들자! -> 다각형 클리핑
    clip-path: polygon(x1, y1, x2, y2,....) 
    -> 소괄호를 비울 수 없다
    -> 각 좌표는 x,y좌표 하나는 띄어쓰기로 다른 좌표는 콤마로 구분한다. */
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
}

/* 왼손 그림자 위치 */
.arm.a1::after{
    left: 12px;
}

/* 오른손 그림자 위치 */
.arm.a2::after{
    right: 12px;
}

/* 왼팔 */
.a1 {
    left: -60px;
}

/* 오른팔 */
.a2 {
    right: -60px;
}

/* 다리 공통 */
.leg {
    position: absolute;
    top: 100%;
    /* 부모높이값 만큼 100% 밀기 */
    width: 70px;
    height: 300px;
    background-size: 100%;
    background-repeat: repeat-y;
}

.leg::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -30px;
    left: -6px;
    width: 80px;
    height: 40px;
    /* 둥근모서리 윗쪽만 둥글게 */
    border-radius: 30px 30px 0 0;
    border: 1px solid #222;
    border-bottom: 20px solid #000;
    /* 원형 그라데이션 */
    background-image: radial-gradient(farthest-side at 20px 10px,white, #333);
    background-color: #fff;
}

/* 왼다리 */
.l1 {
    left: 0;
    /* 안써도 기본방향이 left임 */
}

/* 오른다리 */
.l2 {
    right: 0px;
}

/* 어깨 공통 */
.shd {
    position: absolute;
    top: -30px;
    width: 90px;
    height: 80px;
}

/* 왼 어깨 */
.s1 {
    left: -80px;
    border-radius: 50% 0 0 0;
}

/* 오른 어깨 */
.s2 {
    right: -80px;
    border-radius: 0 50% 0 0;
}

/* TV */
.tv{
    position: absolute;
    top: 30px;
    left: 8%;
    width: 200px;
    height: 130px;
    background: url(../images/tv.jpg) no-repeat 0/100%;
    border: 7px ridge lightskyblue;
}

.screen{
    /* 부모는? .tv */
    position: absolute;
    top: 10px;
    left: 14px;
    width: 135px;
    height: 100px;
    background-color: black;
    border-radius: 10px; 
    /* 넘치는 자식요소 숨기기 */
    overflow: hidden;
}
/* 아이프레임 */
.screen iframe{
    position: absolute;
    top: -11px;
    left: -9px;
    width: 112%;
    height: 116%;
    /* 기본보더없앰 */
    border: none;
}

/**** 2-2. 로봇설명박스 ****/
.dcbx{
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    /* 반투명 배경색 */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding: 15px 30px;
    border: 3px solid #fff;
    border-radius: 20px; 
    /* 박스 그림자
    - 콤마로 연결하면 다중셋팅가능
    - inset(내부그림자) */
    box-shadow: inset 0 0 20px darkblue, 
    inset 0 0 50px 10px cyan;
}

/* font-family: 'Black Ops One', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 2-2-1. 로봇제목 */
.dcbx h2{
    font-family: 'Black Ops One';
    text-align: center;
    font-size: 35px;
    color: lightseagreen;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

/* 2-2-2. 출처 */
.dcbx small{
    /* 인라인은 텍스트 중앙 안먹힘, 블럭으로 변경 후 가능 */
    font-family: 'Roboto';
    display: block;
    text-align: center;
    color: #ff0;
    font-size: 12px;
    padding: 10px;
}

.dcbx p{
    font-family: 'Open Sans';
    font-size: 15px;
    /* 줄간격 */
    line-height: 1.8;
    /* 자간 */
    letter-spacing: 1px;
    /* 단어간격 */
    word-spacing: 2px;

    /* 가독성을 위한 다단 설정 */
    /* 다단표시(다중열속성) */

    /* 다중열 개수 */
    column-count: 3;
    /* 다중열 구분선 */
    column-rule: 5px dotted blue;
    /* 보더셋팅과 유사함! (두께 | 종류 | 색상) */
   
    /*  다중열 사이간격  */
    column-gap: 55px;

    /* 양쪽 정렬 justify */
    text-align: justify;

    /* 단어깨기 */
    /* break-all 모든 단어깨기 */
    word-break: break-all;
    /* 단어를 깨는 이유는 단어단위로 줄바꿈이 되는 1byte문자인 영어인 경우 단어단위로 모두 깨줘야 양쪽정렬시 중간 공백이 생기지 않는다! */
    /* (한글과 같은 2byte 문자는 단어깨기를 안해도 모두 떨어진다.) */

    /* 첫글자 들여쓰기 ti */
    text-indent: 20px;
}
/* 설명문단 첫글자 가상요소로 글자디자인 변경하기 */
.dcbx p::first-letter{
    font-family: 'Orbitron';
    font-size: 30px;
    color: orange;
}

.dcbx .my{
    display: block;
}

.dcbx .my::first-letter{
    font-size: 30px;
    color: pink;

}

/**** 3. 하단영역 ****/
.info{
    padding: 50px;
    text-align: center;
    color: #fff;
    font: 30px 'Black Ops One';
    text-shadow: 2px 2px 2px #000;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 가상요소로 아이콘 넣기 */
.info span::before{
    content: '';
    /* inline이면서 디자인적용 */
    display: inline-block;
    width: 30px;
    height: 30px;
    background: pink url(../images/robot_03.png) no-repeat;
    /* 배경 세부설정을 한번에 셋팅한 background 아래에 쓰면 덮어써진다*/
    background-position: -11px -2px;
    background-size: 60px;

    border-radius: 50%;
    /* 테두리 */
    border: 2px solid #ccc;
    /* 인라인 요소간 세로정렬 */
    vertical-align: -5px;
    margin-right: 7px;
}
