@charset "UTF-8";
/* CGV PJ 인트로 페이지 CSS - intro.css */

/* 외부 CSS 합치기  */
@import url(reset.css);
@import url(core.css);

/* 전체 페이지 보이는 화면기준 */
html,body{
    width: 100vw;
    height: 100vh;
    /* 스크롤바 안생김! */
    overflow: hidden;
}

/* 비디오 요소 */
#myvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 
        [ object-fit ] 
        -> img, video 요소에 사용하는 맞춤속성

        - 부모요소 크기를 채우는 방식을 결정함!
        - contain 기본값

        1. cover : 이미지나 동영상 비율 유지하며
                   부모박스를 빈공간없이 채움
                   (잘리는 부분이 있을 수 있음)

        2. fill : 이미지나 동영상의 비율을 깨고
                  부모박스를 빈공간 없이 채움
                  (잘리는 부분이 없다)

        3. contain : 이미지나 동영상이 모두 보이며
                     비율을 유지함
                     (잘리는 부분이 없으나 빈 공간이 생김)
    */

}